body {
  background-color: #01112D;
}

.App {
  color: #FAFAFA;
}

.title {
  text-transform: uppercase;
}

.Fire {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.Flame, .Log{
  width: 100%;
  display: flex;
  justify-content: center;

}

.Flame > img, .Log > img {
  width: 33%;
  
}
