body {
  background-color: #01112D;
  width: 100%;
  height: 100%;
}

.App {
  color: #FAFAFA;
  width: 100%;
  height: 2000px;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
}



.Flame, .Log{
  width: 100%;
}

.Flame > img, .Log > img {
  width: 200px;
}

.Flame {
  width:200px;
  height: 200px;
  border: yellow 1px solid;
}

.Log {
  width:200px;
  position: fixed;
  border: green 1px solid;
}
